<<<<<<< HEAD
.container{
    max-width: 100%;
    height: max-content;
    align-items: center;
    margin: 0 auto;
    transition: box-shadow 0.3s ease;
    border-radius: 5px;
=======
.trip-container {
  max-width: 1000px;
  height: max-content;
  align-items: center;
  margin: 0 auto;
  transition: box-shadow 0.3s ease;
  border-radius: 5px;
>>>>>>> dc6b8ef1de1bb97c8f79b9e9489d6c1744ca2df9
}
.trip-container:hover {
  box-shadow: 0 4px 20px rgba(171, 169, 169, 0.5);
}
.content-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(216, 210, 210);
}
.trip-info {
  margin-top: 20px;
}
.information {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.information .content-left {
  border-right: 1px solid rgb(216, 210, 210);
  width: 500px;
}
.information .content-right {
  padding-left: 10px;
}
.dates {
  display: flex;
}
.bottom-container ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  list-style-type: none;
}
.bottom-container button {
  background-color: rgb(198, 58, 31);
  border: none;
  height: 30px;
  padding: 4px;
  border-radius: 5px;
}
.next-departure li {
  list-style-type: none;
}
.discount-badge {
  background-color: #00c4b4;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 10px;
}

.featured-badge {
  margin: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffcc00;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.featured-badge i {
  margin-right: 5px;
}
.footer-container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.dates-container {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
.dates {
  display: flex;
  align-items: center;
}
.dates span {
  margin-right: 20px;
  color: #333;
}
.dates span:last-child {
  margin-right: 0;
}
.button {
  text-decoration: none;
  background-color: #e67e22;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.button:hover {
  background-color: #00c4b4;
}
@media (max-width: 600px) {
  .trip-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .dates {
    margin-bottom: 10px;
  }
}
