body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  .card {
    border-radius: 8px;
  }
  
  .bg-teal {
    background-color: #008080;
    height: auto;
  }
  
  .text-white {
    color: white !important;
  }
  
  .container {
    max-width: 1200px;
  }
  
  .hero {
    background: url('pk.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 80px 20px;
}
.hero h1 {
    font-size: 3.5rem;
    font-weight: bold;
}
.hero p {
    font-size: 1.5rem;
}